.searchresult{
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.searchresult:hover{
    opacity: 0.8;
}

.searchresult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchresult__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.searchresult__infotop{
    width: 40vw;
}

.searchresult__infotop > h3{
    font-weight: 300;
    margin-top: 10px;
}

.searchresult__infotop > p{
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}

.searchresult__infobottom{
    display: flex;
    justify-content: space-between;
}

.searchresult__star{
    color: crimson;
}

.searchresult__price > p{
    text-align: right;
}

.searchresult__price{
    position: absolute;
    bottom: 20px;
    right: 30px;
}